/* MessagesComponent's private CSS styles */
h2 {
    color: #0006A8;
    font-family: Apple Chancery;
    font-weight: bold;
    font-size: 250%;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: rgb(0, 0, 0);
    font-family: Apple Chancery;
    font-size: 125%;
    font-weight: bold;
  }
  
  button.clear {
    font-family: Apple Chancery;
    background-color: #CDF9FF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #767BFF;
  }
  button:disabled {
    background-color: rgb(153, 194, 255);
    color: rgb(0, 0, 0);
    cursor: auto;
  }
  button.clear {
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
    font-size: 125%;
    font-weight: bold;
  }